@tailwind base;
@tailwind components;
@tailwind utilities;

.paper-page {
  background: white;
  width: 210mm; /* A4 사이즈 */
  min-height: 297mm;
  padding: 20mm;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  outline: none;
  color: black;
}